.* {
	
}
body {
	background-image: url(materials/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	color: white;
}
main-text {
	
}